<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Planos.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>
    <h1>Escolha o tipo de usuário</h1>
    <div class="user-options">
        <a href="/Bussola/RegistroUsuario">
            <div class="content-box">
                Registrar como usuário normal
              
                <div class="table-container">
                    <table>

                        <tr>
                            <td>Criação de 1 evento</td>
                        </tr>
                        <tr>
                            <td>Ajuda limitada</td>
                        </tr>
                        <tr>
                            <td>nenhuma prioridade na busca de eventos</td>
                        </tr>
                        <tr>
                            <td>Atendimento tecnico limitado</td>
                        </tr> 
                        <tr>
                            <td>Acesso a calculadora</td>
                        </tr> 

                    </table>
                </div>
            </div>
        </a>
        <a href="/Bussola/RegistroUsuarioPremium">
            <div class="content-box">
                Registrar como usuário premium
           
                <div class="table-container">
                    <table>

                        <tr>
                            <td>Criação de ate 3 eventos</td>
                        </tr>
                        <tr>
                            <td>Ajuda completa</td>
                        </tr> 
                        <tr>
                            <td>Prioridade na busca de eventos</td>
                        </tr>
                        <tr>
                            <td>Atendimento tecnico completo</td>
                        </tr> 
                        <tr>
                            <td>Acesso a calculadora</td>
                        </tr> 
                        <tr>
                            <td>Promções exclusivas</td>
                        </tr>
                       
                    </table>
                </div>
            </div>
        </a>
    </div>
</body>
</html>
