<!DOCTYPE html>
<html>
<head>
	<title>Site em Desenvolvimento</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Site em Desenvolvimento</h1>

	<p>Este é um site em desenvolvimento que tenta seguir as regras de segurança de dados na internet. Por favor, 
		note que este site não é para uso com dados pessoais reais. Se você precisar de dados de teste,
		você pode usar o seguinte gerador de dados pessoais: <a href="https://www.4devs.com.br/gerador_de_imagem_lorem_pixel" target="_blank">https://www.4devs.com.br/gerador_de_imagem_lorem_pixel</a>.
	</p>

	<h1>EventPlanner: Uma plataforma online para planejamento e execução de eventos</h1>

	<p>O projeto “EventPlanner” é uma plataforma online que tem como objetivo facilitar o planejamento e a execução de eventos.
		O site permite que os usuários criem, divulguem, participem e avaliem eventos de diversos tipos, como festas, palestras
		, Locais turisticos, etc. Além disso, o site oferece informações úteis para ajudar na logística do evento, como estimativas de recursos necessários,
		feedback sobre os valores planejados e relatórios sobre os resultados obtidos. O site tem dois tipos de usuários,
		normais e premium, que podem fazer login e ter diferentes níveis de acesso e funcionalidades.
		O projeto foi desenvolvido utilizando as linguagens HTML, CSS, JavaScript e C#, bem como as ferramentas Asp.net, Sql Server e Microsoft Azure.
		O projeto foi testado e validado por meio de questionários e entrevistas com potenciais usuários.</p>

	<p>Desenvolvido por Pedro Henrique Moreira Mascarenhas de Oliveira</p>
	<p>Email: oliveiraphm10@gmail.com</p>
	<p>Número: (71)99239-6744</p>
</body>
</html>
